
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}

DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}

BLOCKQUOTE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
/*
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
} */
STRONG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none;
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none;
}

.clearfloat {
	LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
#container {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 100%
}

.searchBar {
	MARGIN: 0px auto; 
	PADDING-LEFT: 1px; 
	WIDTH: 100%;  
	PADDING-TOP: 1px;
/**	display:inline;  
	HEIGHT: 33px;  */
	vertical-align:middle;
}
.searchBar SPAN {
	MARGIN-TOP: 6px; FLOAT: right
}
.searchBar SPAN A {
	COLOR: #666; MARGIN-RIGHT: 1px
}
.searchBar SPAN A:hover {
	COLOR: #ef9b11
}
.searchBar .select {
	MARGIN-TOP: 1px;PADDING-LEFT:  1px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px;BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 70px;
}
.searchBar .select250 {
	MARGIN-TOP: 1px;PADDING-LEFT:  1px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px;BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 220px;
}
.searchBar .select200 {
	MARGIN-TOP: 1px;PADDING-LEFT:  1px; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 10px;BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 175px;
}





.searchBar .text {
	FLOAT: left;
}
.searchBar .text INPUT {
	BORDER-BOTTOM: #b7d1eb 0px solid; BORDER-LEFT: #b7d1eb 0px solid; WIDTH: 94px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 0px solid; PADDING-TOP: 2px
}
.searchBar .text250 {
	FLOAT: left;
}
.searchBar .text250 INPUT {
	BORDER-BOTTOM: #b7d1eb 0px solid; BORDER-LEFT: #b7d1eb 0px solid; WIDTH: 240px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 0px solid; PADDING-TOP: 2px
}
.searchBar .text200 {
	FLOAT: left;
}
.searchBar .text200 INPUT {
	BORDER-BOTTOM: #b7d1eb 0px solid; BORDER-LEFT: #b7d1eb 0px solid; WIDTH: 190px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 0px solid; PADDING-TOP: 2px
}
.searchBar .text150 {
	FLOAT: left;
}
.searchBar .text150 INPUT {
	BORDER-BOTTOM: #b7d1eb 0px solid; BORDER-LEFT: #b7d1eb 0px solid; WIDTH: 145px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 0px solid; PADDING-TOP: 2px;BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 125px;
}

.searchBar .text300 {
	FLOAT: left;
}
.searchBar .text300 INPUT {
	BORDER-BOTTOM: #b7d1eb 0px solid; BORDER-LEFT: #b7d1eb 0px solid; WIDTH: 290px; HEIGHT: 17px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 0px solid; PADDING-TOP: 2px;BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 280px;
}

DIV.selectbox-wrapper {
	BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-TOP: -3px; WIDTH: 90px; BORDER-TOP: #b7d1eb 0px solid; 
	BORDER-RIGHT: #b7d1eb 1px solid;	z-index:200;overflow-x:hidden;overflow-y:auto;
}
DIV.selectbox-wrapper UL LI.selected {
	BACKGROUND-COLOR: #e0ecf7
}
DIV.selectbox-wrapper UL LI.current {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
DIV.selectbox-wrapper UL LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 84px; PADDING-RIGHT: 3px; CURSOR: pointer; PADDING-TOP: 3px
}

DIV.selectbox-wrapper250 {
	BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-TOP: -3px; WIDTH: 240px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 1px solid;
	z-index:200;overflow-x:hidden;overflow-y:auto;
}
DIV.selectbox-wrapper250 UL LI.selected {
	BACKGROUND-COLOR: #e0ecf7
}
DIV.selectbox-wrapper250 UL LI.current {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
DIV.selectbox-wrapper250 UL LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 234px; PADDING-RIGHT: 3px; CURSOR: pointer; PADDING-TOP: 3px
}

DIV.selectbox-wrapper200 {
	BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-TOP: -3px; WIDTH: 196px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 1px solid;
	z-index:200;overflow-x:hidden;overflow-y:auto;
}
DIV.selectbox-wrapper200 UL LI.selected {
	BACKGROUND-COLOR: #e0ecf7
}
DIV.selectbox-wrapper200 UL LI.current {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
DIV.selectbox-wrapper200 UL LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 190px; PADDING-RIGHT: 3px; CURSOR: pointer; PADDING-TOP: 3px
}

DIV.selectbox-wrapper150 {
	BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-TOP: -3px; WIDTH: 146px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 1px solid;
	z-index:200;overflow-x:hidden;overflow-y:auto;
}
DIV.selectbox-wrapper150 UL LI.selected {
	BACKGROUND-COLOR: #e0ecf7
}
DIV.selectbox-wrapper150 UL LI.current {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
DIV.selectbox-wrapper150 UL LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 140px; PADDING-RIGHT: 3px; CURSOR: pointer; PADDING-TOP: 3px
}
.selectbox {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 82px; DISPLAY: block; BORDER-TOP-STYLE: none; BACKGROUND: url(dropdown_hover.gif) no-repeat; background-position: 90px; HEIGHT: 19px; BORDER-LEFT-STYLE: none; CURSOR: pointer; PADDING-TOP: 5px
}


DIV.selectbox-wrapper300 {
	BORDER-BOTTOM: #b7d1eb 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b7d1eb 1px solid; BACKGROUND-COLOR: #fff; MARGIN-TOP: -3px; WIDTH: 296px; BORDER-TOP: #b7d1eb 0px solid; BORDER-RIGHT: #b7d1eb 1px solid;
	z-index:200;overflow-x:hidden;overflow-y:auto;
}
DIV.selectbox-wrapper300 UL LI.selected {
	BACKGROUND-COLOR: #e0ecf7
}
DIV.selectbox-wrapper300 UL LI.current {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
DIV.selectbox-wrapper300 UL LI {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 3px; WIDTH: 290px; PADDING-RIGHT: 3px; CURSOR: pointer; PADDING-TOP: 3px
}
