@charset "utf-8";
/* CSS Document */
.controlbar li{
	float:left;
	padding-right:2px;
	line-height:0px;
}
.controlbar li .ico{
	float:left;
	width:16px;
	height:16px;
	margin-top:2px;
}
.controlbar li a{
	display:block;
	padding-left:2px;
	height:20px;
	overflow:hidden;
	color:#2c88c0;
	text-decoration:none;
	cursor:pointer;
	margin:4px 1px 5px 2px;
	_float:left;
	_display:inline;
	_padding-bottom:5px;
}
.controlbar li a:hover,.controlbar li.sel a{
	background:url(../images/bar_hov_lc.png) no-repeat;
	text-decoration:none;
}
.controlbar li .itembody{
	padding-right:6px;
	padding-left:4px;
	height:22px;
	_float:left;
}
.controlbar li a:hover .itembody,.controlbar li.sel a .itembody{
	background:url(../images/bar_hov_body.png) no-repeat right top;
}
.controlbar li .presenter{
	float:left;
	white-space:nowrap;
	margin:2px 0 0 6px;
	line-height:14px;
	*margin-top:4px;
}
.controlbar .extendarea{
	position:absolute;
	background-color:#e4f3ff;
	top:32px;
	border-top:1px solid #e6f4ff;
	border-bottom:1px solid #1b659e;
	border-right:1px solid #1b659e;
	background-image: url(../images/extarea_bg.png);
	background-repeat: repeat-x;
	display:none;
	height:auto;
}
.controlbar .extendarea .content{
	padding:6px;
}
.controlbar .extendarea .btnarea{
	border-top:1px solid #c3d7e6;
	background:url(../images/btnarea_bg.png) repeat-x;
	padding: 6px 10px;
	color: #156491;
	text-decoration: none;
	overflow:hidden;
	zoom:1;
}
